services:
  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - gateway

  gateway:
    build: ./services/gateway
    ports:
      - "8080:8080"
    environment:
      - AUTH_SERVICE_URL=http://auth-service:8081
      - EMPLOYEE_SERVICE_URL=http://employee-service:8082
      - LEAVE_SERVICE_URL=http://leave-service:8083
      - PAYROLL_SERVICE_URL=http://payroll-service:8084
    depends_on:
      - auth-service
      - employee-service
      - leave-service
      - payroll-service

  auth-service:
    build: ./services/auth-service
    environment:
      - PORT=8081
      - MONGO_URI=mongodb://mongo-auth:27017/hrms_auth
    depends_on:
      - mongo-auth

  employee-service:
    build: ./services/employee-service
    environment:
      - PORT=8082
      - MONGO_URI=mongodb://mongo-employee:27017/hrms_employee
    depends_on:
      - mongo-employee

  leave-service:
    build: ./services/leave-service
    environment:
      - PORT=8083
      - MONGO_URI=mongodb://mongo-leave:27017/hrms_leave
    depends_on:
      - mongo-leave

  payroll-service:
    build: ./services/payroll-service
    environment:
      - PORT=8084
      - MONGO_URI=mongodb://mongo-payroll:27017/hrms_payroll
    depends_on:
      - mongo-payroll

  mongo-auth:
    image: mongo:7
    volumes:
      - mongo_auth_data:/data/db

  mongo-employee:
    image: mongo:7
    volumes:
      - mongo_employee_data:/data/db

  mongo-leave:
    image: mongo:7
    volumes:
      - mongo_leave_data:/data/db

  mongo-payroll:
    image: mongo:7
    volumes:
      - mongo_payroll_data:/data/db

volumes:
  mongo_auth_data:
  mongo_employee_data:
  mongo_leave_data:
  mongo_payroll_data:
