services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: hrms
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    depends_on:
      - postgres
    environment:
      PORT: 8080
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/hrms
      JWT_ACCESS_SECRET: super_access_secret
      JWT_REFRESH_SECRET: super_refresh_secret
      ACCESS_TOKEN_TTL: 15m
      REFRESH_TOKEN_TTL: 7d
      GOOGLE_CLIENT_ID: demo
      GOOGLE_CLIENT_SECRET: demo
      GOOGLE_CALLBACK_URL: http://localhost:8080/api/v1/auth/google/callback
      WEB_URL: http://localhost:5173
    ports:
      - "8080:8080"

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    depends_on:
      - api
    ports:
      - "5173:80"

volumes:
  pg_data:
